# Replace 001920.xyz with your domain
001920.xyz {

	encode

	handle /api/* {
		reverse_proxy https://holodex.net {
			header_up Host holodex.net
		}
	}

	handle /statics/* {
		reverse_proxy https://holodex.net {
			header_up Host holodex.net
		}
	}

	handle /twitch-gql {
		uri replace /twitch-gql /gql
		reverse_proxy https://gql.twitch.tv {
			header_up Host gql.twitch.tv
			header_up Origin https://www.twitch.tv
			header_up Referer https://www.twitch.tv/
		}
	}

	# Proxy stats/orgs JSON used by the frontend
	handle_path /stats.json {
		reverse_proxy https://holodex.net {
			header_up Host holodex.net
		}
	}

	handle_path /orgs.json {
		reverse_proxy https://holodex.net {
			header_up Host holodex.net
		}
	}

	handle {
		reverse_proxy localhost:8080
	}
}
